* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

html,
body {
  height: 100%;
  color: white;
  font-size: 18px;
}

body {
  background-image: url("images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-color: hsl(235, 21%, 11%);
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;  
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 1rem;
}

.theme-icon {
  height: 26px;
  aspect-ratio: initial;
}

.input-form {
  display: flex;
  flex-direction: row;
  background-color: hsl(235, 24%, 19%);
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.submit-circle {
  border: 1px solid hsl(234, 11%, 52%);
  color: transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: 0.5s;
}
.submit-circle:hover {
  border: 1px solid hsl(236, 33%, 92%);
  transition: 0.5s;
}

.input {
  background-color: transparent;
  border: none;
  color:white;
}

.todo-container {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.example-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(235, 24%, 19%);
  font-size: 0.7rem;
  color: hsl(234, 39%, 85%);
}

.todo-container:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.remove-icon {
  margin-left: auto;
}

.action-bar {
  grid-row: 1;
  padding: 10px;
  background-color: hsl(235, 24%, 19%);
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 0;
  justify-content: space-between;
}

.remaining-items,
.clear,
.filter-selection {
  grid-row: 1;
  color: hsl(234, 11%, 52%);
  font-size: 0.75rem;
}

.filter-container {
  background-color: hsl(235, 24%, 19%);
  display: flex;
  grid-column: span 3;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.filter-selection {
  margin: 0 10px;
}

.checked {
  background-image: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  height: unset;
  width: unset;
  padding: 4.5px 3.5px;
}

.checked-text{
  text-decoration: line-through ;
  color: rgb(156, 156, 156);
}

@media screen and (min-width:600px) {
  body{
    background-image: url("images/bg-desktop-dark.jpg");
  }
  main{
    width:500px;
  }
  .action-bar{
    grid-row:1;
    grid-column:1 / span 3;
    align-items:center;
    height:100%;
    box-sizing:border-box;
  }
  .filter-container {
    grid-row:1;
    grid-column:2;
  }
}
